BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0

NamespaceIndentation: All
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach
Cpp11BracedListStyle: false
MaxEmptyLinesToKeep: 1
SortIncludes: Never

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
