build/
out/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
*.ninja
*.cmake
!CMakeLists.txt

*.o
*.obj
*.exe
*.dll
*.so
*.dylib
bin/
lib/

*.tmp

*.spv
shaders/*.spv